/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: 'Dosis', sans-serif;
	background:#fff;
}
.wrap{
	width:80%;
	margin:0 auto;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear; 
	-o-transition:all .2s linear; 
	-ms-transition:all .2s linear;
}
.header-top{
	background:#333;
	padding: 2% 0;
}
.logo{
	float:left;
	width: 30.5%;
}
.cssmenu {
	margin-top: 10px;
	position: relative;
	width: 40.5%;
	float: left;
}
#nav
		{
			position: absolute;
		} 
		    #nav > a
			{
				display: none;
			}
			#nav li
			{
				position: relative;
			}
				#nav li a
				{
					color: #ccc;
					display: block;
				}
				#nav li a:active
				{
				
				}
			/* first level */

			#nav > ul
			{
				
			}
				#nav > ul > li
				{
					margin:0 14px;
					height: 100%;
					float: left;
				}
					#nav > ul > li > a
					{
						height: 100%;
						font-size: 1em; /* 24 */
						line-height: 2.5em; /* 60 (24) */
						text-align: center;
						font-family: 'Montserrat', sans-serif;
					}
						#nav > ul > li:not( :last-child ) > a
						{
							
						}
						#nav > ul > li:hover > a,
						#nav > ul:not( :hover ) > li.active > a
						{
							color:#FE2232;
						}
				/* second level */
				#nav li ul
				{
					background-color: #cc470d;
					display: none;
					position: absolute;
					top: 100%;
				}
					#nav li:hover ul
					{
						display: block;
						left: 0;
						right: 0;
					}
						#nav li:not( :first-child ):hover ul
						{
							left: -1px;
						}
						#nav li ul a
						{
							font-size: 1.25em; /* 20 */
							border-top: 1px solid #e15a1f;
							padding: 0.75em; /* 15 (20) */
						}
							#nav li ul li a:hover,
							#nav li ul:not( :hover ) li.active a
							{
								
							}
		@media only screen and ( max-width: 62.5em ) /* 1000 */
		{
			#nav
			{
				width: 100%;
				position: static;
				margin: 0;
			}
		}

		@media only screen and ( max-width: 40em ) /* 640 */
		{
		 #nav
			{
				position: relative;
				top: auto;
				left: auto;
			}
				#nav > a
				{
					width: 3.125em; /* 50 */
					height: 3.125em; /* 50 */
					text-align: left;
					text-indent: -9999px;
					background:url(../images/nav_icon.png)2px #FE2232;
					position: relative;
					font-size:12px;
				}
					#nav > a:before,
					#nav > a:after
					{
						position: absolute;
						/*--border: 2px solid #fff;
						top: 35%;
						left: 25%;
						right: 25%; --*/
						background:url(../images/nav_icon.png);
						
					}
					#nav > a:after
					{
						top: 60%;
					}

				#nav:not( :target ) > a:first-of-type,
				#nav:target > a:last-of-type
				{
					display: block;
				}
			/* first level */
			#nav > ul
			{
				height: auto;
				display: none;
				position: absolute;
				left: 0;
				right: 0;
			}
				#nav:target > ul
				{
					display: block;
				}
				#nav > ul > li
				{
					width: 100%;
					float: none;
				}
					#nav > ul > li > a
					{
						height: auto;
						text-align: left;
						padding: 0 0.833em; /* 20 (24) */
					}
						#nav > ul > li:not( :last-child ) > a
						{
							border-right: none;
							border-bottom: 1px solid #585858;
							background: #4D4D4D;
							color: #FFF;
						}

				/* second level */

				#nav li ul
				{
					position: static;
					padding: 1.25em; /* 20 */
					padding-top: 0;
				}
		}
.buttons{
	float:right;
	width:26.5%;
	margin-top: 10px;
}		
.login_btn{
	float:left;
	margin-right:3.6%;
}
.login_btn a {
	font-family: 'Montserrat', sans-serif;	
	display: inline-block;
	font-size:0.8125em;
	color: #ccc;
	border:1px solid #ccc;
	padding:10px 20px;
	text-transform: uppercase;	
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.login_btn a:hover {
	color:#fff;
}
.get_btn{
	float:left;
}
.get_btn a {
	font-family: 'Montserrat', sans-serif;	
	display: inline-block;
	font-size:0.8125em;
	color: #fff;
	background:#fe2232;
	border:none;
	padding:12px 20px;
	text-transform: uppercase;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.get_btn a:hover{
	background:#EB1222;
}
h2.head{
	color:#fff;
	font-size:2.5em;
	text-align:center;
	margin-top:2%;
}
span.m_1{
	font-family: 'Montserrat', sans-serif;	
}
/*--content--*/
.content-box{
	padding: 10px 0 0 0;
	background:#fff;
}
ul.events{
	float:left;
	width: 22.5%;
	margin-top: 10px;
}
ul.events li a {
	color:#ccc;
	display: block;
	margin:0 20px;
	font-size:1em;
}
ul.events > li.active a, ul.events > li a:hover {
	border-bottom: 4px solid #FE2232;
	padding-bottom: 15px;
	color:#000;
}
ul.events li {
	display: inline-block;
}
.content-box-right {
	float: right;
	width:65.5%;
	margin-top: 1px;
}
.search_box {
	float: left;
	border:1px solid #ddd;
	margin-right: 1.6%;
}
.search_box form input[type="submit"] {
	border: none;
	cursor: pointer;
	background: url(../images/search.png) no-repeat 0px -5px;
	position: absolute;
	right: 0;
	width: 31px;
	height: 33px;
	outline: none;
}
.search_box form input[type="text"], .search_box form select {
	font-size:1em;
	color: #777;
	padding: 5px 10px;
	outline: none;
	width:100%;
	background:#fff;
	border: none;
	font-family: 'Dosis', sans-serif;
}
.textbox {
	float: left;
	background: #FFF;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	padding: 5px 10px;
	position: relative;
	cursor: pointer;
	width: 40.5%;
	margin-right:1.6%;
	border: 1px solid #DDD;
}
.textbox form input[type="text"] {
	border: none;
	outline: none;
	background: none;
	font-size:1em;
	color:#555;
	font-family: 'Dosis', sans-serif;
	width: 87%;
	-webkit-apperance: none;
}
.reservation{
	float:left;
}
.reservation form input[type="text"] {
	font-size:1em;
	border:1px solid #ddd;
	background: #FFF;
	outline: none;
	padding:7px;
	color: #999;
	font-family: 'Dosis', sans-serif;
}
.main{
	background:#f4f4f4;
	padding:3% 0;
}
/*  GRID OF THREE   ============================================================================= */
.col_1_of_3{
	display: block;
	float:left;
	margin: 1% 0 1% 3.6%;
}
.col_1_of_3:first-child { margin-left: 0; }

.span_1_of_3 {
	width: 30.9%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background:#fff;
}
.desc{
	background:#fff;
	padding:8% 5% 5% 5%;
}
.span_1_of_3  h3{
	margin-bottom:10px;
}
ul.m_fb{
	position:relative;
	margin-top: -50px;
}
span.m_22{
	float: left;
	margin: 0 7% 0 4px;
}
span.m_22 img{
	background: #3A589B;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-o-border-radius: 100px;
	border: 2px solid #333;
	padding: 3px;
}
span.m_22 img:hover{
	border:2px solid #fff;
}
span.m_24{
	float: left;
	margin: 0 7% 0 1%;
}
span.m_24 img{
	background:#ff7100;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-o-border-radius: 100px;
	border: 2px solid #333;
	padding: 3px;
}
span.m_24 img:hover{
	border:2px solid #fff;
}
span.m_23{
	float:right;
	margin:0 3px 0 0;
}
span.m_23 img:hover{
	opacity:0.8;
}
span.middle{
	color:#fff;
	font-size:1.1em;
}
p.middle{
	text-align:center;
	line-height:0;
}
.span_1_of_3  h3 a{
	color:#444;
	margin-bottom:0.5em;
	font-size:1.4em;
	line-height: 1.2;
	font-family: 'Montserrat', sans-serif;
	font-weight : normal;
	margin-top: 0px;
	letter-spacing: -1px;
}
.span_1_of_3  h3 a:hover{
	color:#666;
}
.span_1_of_3  p  {
	font-size:1em;
	color: #555;
	line-height: 1.5em;
}
h4.m_2{
	color: #777;
	font-size:1em;
	margin-bottom: 10px;
	line-height: 1.5em;
}
h5.m_3{
	color:#777;
	font-size:1em;
	margin: 10px 0;
	line-height: 1.5em;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.col_1_of_3{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:100%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
     
     .wrap{
		width:95%;
	}		
	.col_1_of_3{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:100%;
	}
}
.col_1_of_2{
	display: block;
	float: left;
	margin: 0% 0 0% 0.6%;
	background: #F0F0F0;
}
.col_1_of_2:first-child { margin-left: 0; }
.span_1_of_2 {
	width: 40.6%;
	padding: 4.5%;
}
.span_1_of_2 li img{
	width: 23.1%;
	margin-right: 11.6%;
	float: left;
}
.m_desc{
	float:left;
	width: 64.4%;
}
span.m_2{
	color:#000;
	font-size:2em;
}
span.m_3{
	color:#999;
	font-size:0.95em;
	text-transform:uppercase;
}
/*--footer--*/
.footer{
	background:#333;
	padding:2% 0;
}
.footer-menu{
	text-align: center;
	border-bottom: 2px ridge #444;
	padding-bottom: 2%;
	margin-bottom: 2%;
}
.footer-menu li{
	display: inline-block;
	background: url(../images/dot.png)no-repeat 1px 12px;
}
.footer-menu li a{
	color: #CCC;
	font-size:1em;
	margin: 0 15px;
}
.footer-menu ul > li.active a, .footer-menu ul > li a:hover {
	color:#fff;
}
.copy{
	float:left;
	margin-top: 10px;
}
.social{
	float:right;
}
.social ul li:first-child, ol li:first-child {
	margin-top: 0px;
	margin-left: 0;
}
.social li {
	background: none;
	display: inline-block;
}
li.facebook a span {
	height: 40px;
	width: 40px;
	display: block;
	background: url(../images/img-sprite.png) no-repeat 11px -2px;
}
li.facebook a span:hover {
	background: url(../images/img-sprite.png) no-repeat 11px -32px;
}
li.twitter a span {
	height: 40px;
	width: 40px;
	display: block;
	background: url(../images/img-sprite.png) no-repeat -28px -2px;
}
li.twitter a span:hover {
	background: url(../images/img-sprite.png) no-repeat -28px -32px;
}
li.linked a span {
	height: 40px;
	width: 40px;
	display: block;
	background: url(../images/img-sprite.png) no-repeat -60px -2px;
}
li.linked a span:hover {
	background: url(../images/img-sprite.png) no-repeat -60px -32px;
}
li.arrow a span {
	height: 40px;
	width: 40px;
	display: block;
	background: url(../images/img-sprite.png) no-repeat -87px -2px;
}
li.arrow a span:hover {
	background: url(../images/img-sprite.png) no-repeat -87px -32px;
}
li.dot a span {
	height: 40px;
	width:32px;
	display: block;
	background: url(../images/img-sprite.png) no-repeat -126px -2px;
}
li.dot a span:hover {
	background: url(../images/img-sprite.png) no-repeat -126px -32px;
}
li.rss a span {
	height: 40px;
	width: 40px;
	display: block;
	background: url(../images/img-sprite.png) no-repeat -160px -2px;
}
li.rss a span:hover {
	background: url(../images/img-sprite.png) no-repeat -160px -32px;
}
.copy p{
	color:#fff;
	font-size:1em;
}
.copy p a{
	color:#FE2232;
}
.copy p a:hover{
	color:#fff;
}
/*--pricing--*/
.pricing{
	padding:5% 0 0%;
}
.pricing h3 {
	font-size: 4em;
	color: #333;
	padding-bottom:4%;
	text-align:center;
}
.pricing h3 span {
	font-family: 'Montserrat', sans-serif;
}
#plans,#plans ul,#plans ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}
#pricePlans {
	text-align: center;
}
#pricePlans #plans .plan {
	background: #fff;
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 0 0 20px 0;
	box-shadow: 2px 2px 4px #E2E2E2;
	-webkit-box-shadow: 2px 2px 4px #E2E2E2;
	-moz-box-shadow: 2px 2px 4px #E2E2E2;
	-o-box-shadow: 2px 2px 4px #E2E2E2;
}
.planContainer .title h2 {
	font-size:1.8em;
	color: #3e4f6a;
	margin: 0;
	padding: .6em 0;
	font-family: 'Montserrat', sans-serif;
	padding: 25px 0;
}
.planContainer .title1 h3 {
	font-size:1.8em;
	color: #555;
	margin: 0;
	padding: .6em 0;
	font-family: 'Montserrat', sans-serif;
}
.planContainer .title h2.bestPlanTitle {
	background:#333;
	color: #fff;
}
.plan-text{
	padding: 0px 0 10px;
}
.planContainer .price p {
	background:#333;
	color: #fff;
	font-size:1.1em;
	height: 2.6em;
	line-height: 2.6em;
	margin: 0 0 1em;
}
.planContainer .price p.bestPlanPrice {
	background:#FE2232;
}
.planContainer .price p span {
	color:#E2EDFD;
}
.planContainer .options {
	margin-top: 10em;
}
.planContainer .options li {
	color:#FE2232;
	line-height:3em;
	border-bottom: 1px solid #E9E9E9;
	font-size:1em;
}
.planContainer .options li span {
	color:#777;
}
.planContainer .button a {
	text-transform: uppercase;
	text-decoration: none;
	color: #333;
	letter-spacing: 3px;
	line-height: 2.8em;
	border: 2px solid #FE2232;
	display: inline-block;
	width:60%;
	height: 2.8em;
	margin: 1.5em 0 1.8em;
	font-size:1em;
}
.planContainer .button a.bestPlanButton {
	color: #fff;
	background:#FE2232;
}
.planContainer .button a.bestPlanButton {
	color: #FFF;
	background:#FE2232;
	border: 2px solid #FE2232;
}
.planContainer .button a.bestPlanButton:hover {
	background:#FE2232;
	border:2px solid #FE2232;
}
#pricePlans #plans .plan {
	width:25.9999%;
	margin: 0 3.33% 20px 0;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
li.plan-middle{
	width:30.9999%;
	margin: 0 3.33% 20px 0;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
#pricePlans #plans > li:last-child {
	margin-right: 0;
}
.planContainer .button a {
	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}
.planContainer .button a:hover {
	background:#FE2232;
	color: #fff;
}
.planContainer .button a.bestPlanButton:hover {
	background:#EB1222;
}
/*--work--*/
p.m_5{
	color:#777;
	font-size:1em;
	line-height:1.8em;
	text-align:center;
	margin-bottom: 2%;
}
h2.head1{
	color:#666;
	font-size:2em;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom:2%;
}
.searchfield:focus, .searchfield:not(:focus) {
	-webkit-transition-property: width;
	-webkit-transition-duration: 0.5s, 0.5s;
	-webkit-transition-timing-function: linear, ease-out;
}
.lb-album {
	margin: 0 auto;
}
.lb-album li {
	width: 23.25%;
	float: left;
	position: relative;
	margin: 1%;
}
.lb-album li:nth-child(4), .lb-album li:nth-child(8), .lb-album li:nth-child(12) {
	margin-right: 0;
}
.lb-album li > a, .lb-album li > a img {
	display: block;
	width: 100%;
}
.lb-album li > a {
	position: relative;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
}
.lb-album li > a span {
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
	line-height: 220px;
	color: #fff;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
	font-size: 24px;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	background: rgba(64, 72, 109, 0.61);
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}
.lb-album li > a:hover span {
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
.lb-overlay {
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 99;
	text-align: center;
	background:#000;
}
.lb-overlay > div {
	position: relative;
	color: rgba(27,54,81,0.8);
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	width: 550px;
	margin: 10px auto 0px auto;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
	-webkit-transition: opacity 0.3s linear 1.3s;
	-moz-transition: opacity 0.3s linear 1.3s;
	-o-transition: opacity 0.3s linear 1.3s;
	-ms-transition: opacity 0.3s linear 1.3s;
	transition: opacity 0.3s linear 1.3s;
}
.lb-overlay div h3, .lb-overlay div p {
	padding: 0px 20px;
	width: 200px;
	height: 60px;
	color: #fff;
}
.lb-overlay div h3 {
	color: #fff;
	font-size: 36px;
	float: left;
	text-align: right;
	border-right: 1px solid rgba(27,54,81,0.4);
}
.lb-overlay div h3 span, .lb-overlay div p {
	font-size: 16px;
	font-style: italic;
}
.lb-overlay div h3 span {
	display: block;
	line-height: 6px;
}
.lb-overlay div p {
	text-align: left;
	float: left;
	width: 260px;
}
.lb-overlay a.lb-close {
	font-size: 0.924em;
	padding: 4px;
	background: rgba(64, 72, 109, 0.61);
	z-index: 1001;
	color: #fff;
	position: absolute;
	top: 43px;
	left: 50%;
	font-size: 15px;
	line-height: 26px;
	text-align: center;
	width: 50px;
	height: 23px;
	overflow: hidden;
	margin-left: -25px;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-webkit-transition: opacity 0.3s linear 1.2s;
	-moz-transition: opacity 0.3s linear 1.2s;
	-o-transition: opacity 0.3s linear 1.2s;
	-ms-transition: opacity 0.3s linear 1.2s;
	transition: opacity 0.3s linear 1.2s;
}
.lb-overlay img {
	/* height: 100%; For Opera max-height does not seem to work */
	max-height: 100%;
	position: relative;
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
}
.lb-overlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding: 80px 100px 120px 100px;
}
.lb-overlay:target img {
	-webkit-animation: fadeInScale 1.2s ease-in-out;
	-moz-animation: fadeInScale 1.2s ease-in-out;
	-o-animation: fadeInScale 1.2s ease-in-out;
	-ms-animation: fadeInScale 1.2s ease-in-out;
	animation: fadeInScale 1.2s ease-in-out;
}
.lb-overlay:target a.lb-close, .lb-overlay:target > div {
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
@-webkit-keyframes fadeInScale {
0% { -webkit-transform: scale(0.6); opacity: 0; }
100% { -webkit-transform: scale(1); opacity: 1; }
}
@-moz-keyframes fadeInScale {
0% { -moz-transform: scale(0.6); opacity: 0; }
100% { -moz-transform: scale(1); opacity: 1; }
}
@-o-keyframes fadeInScale {
0% { -o-transform: scale(0.6); opacity: 0; }
100% { -o-transform: scale(1); opacity: 1; }
}
@-ms-keyframes fadeInScale {
0% { -ms-transform: scale(0.6); opacity: 0; }
100% { -ms-transform: scale(1); opacity: 1; }
}
@keyframes fadeInScale {
0% { transform: scale(0.6); opacity: 0; }
100% { transform: scale(1); opacity: 1; }
}

/*
 100% Height for Opera as the max-height seems to be ignored, not optimal for large screens
 http://bricss.net/post/11230266445/css-hack-to-target-opera
 */
x:-o-prefocus, .lb-overlay img {
	height: 100%;
}
.lb-album h2 {
	color:#999;
	font-size:3em;
	font-weight:700;
}
.lb-album p {
	color:#333;
	font-size:13px;
	line-height:1.5em;
}
h4.m_5{
	color: #666;
	float: left;
	font-size: 2em;
	margin: 1% 0;
}
.m_desc1 h4{
	margin:5% 0 2% 0; 
}
.m_desc1 h4 a{
	color: #555;
	font-size: 0.95em;
	text-transform: uppercase;
	margin: 10px 0;
}
.m_desc1 h4 a:hover{
	color:#000;
}
.m_desc1 p{
	color:#777;
	font-size:0.95em;
	line-height:1.5em;
}
.get_btn1{
	margin-top: 10px;
}
.get_btn1 a {
	display: inline-block;
	font-size: 0.7em;
	color: #FFF;
	background:#555;
	border: none;
	padding:6px 10px;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.get_btn1 a:hover{
	background:#333;
}
/*--get started--*/
/*  GRID OF Content and sidebar   ============================================================================= */
/*  GRID OF FOUR   ============================================================================= */
.col_1_of_4{
	display: block;
	float:left;
	margin: 1% 0 1% 2.6%;
}
.col_1_of_4:first-child { margin-left: 0; } /* all browsers except IE6 and lower */
	
.span_1_of_4 {
	width:22.8%;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.col_1_of_4{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_4 {
		width:94%;
		padding:3%;  
	}
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.col_1_of_4{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_4 {
		width:92%;
		padding:4%; 
	}
}
.cont{
	display: block;
	float:left;
	margin: 1% 0 1% 0;
	
}
.lsidebar1{
	display: block;
	float:left;
	margin: 1% 3.6% 1% 0;
} 	
.span_2_of_w{
	width: 42.4%;
}
.span_1_of_w{
	width:25.2%;
}
.span_2_of_w  h3,
.span_1_of_w  h3, 
.span_1_of_w1  h3 {
	color:#555;
	margin-bottom:5%;
	font-size:1.2em;
	line-height: 1.2;
	font-weight : normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
}
p.m_6{
	color:#777;
	font-size:1em;
	line-height:1.5em;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) {
	.wrap{
		width:95%;
	}
	.cont{ 
		margin: 1% 0 1% 0%;
	}
	.lsidebar1{
		margin:0;
	}
	.span_2_of_w {
		width:94%;
		padding:3%;  
	}
	.span_1_of_w {
		width:94%;
		padding:3%; 
	}
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.cont{ 
		margin: 1% 0 1% 0%;
	}
	.lsidebar1{
		margin:0;
	}
	.span_2_of_w {
		width:92%;
		padding:4%;
	}
	.span_1_of_w {
		width:92%;
		padding:4%;
	}
}
.event_feed{
	margin-bottom:10%;
}
.grid_1 {
	width: 15.5%;
	float: left;
}
.alpha {
	margin-right:5.6%;
}
.date {
	background:#FE2232;
	font-size: 0.8125em;
	line-height: 18px;
	padding:10px;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
}
.date span {
	display: inline-block;
	margin-bottom: 7px;
	font-size:2em;
	line-height: 22px;
}
.grid_2{
	width:78.5%;
	float:left;
}
h4.blog_title{
	margin:-4px 0 5px 0;
}
h4.blog_title a{
	font-size: 1em;
	text-transform: uppercase;
	color: #555;
}
h4.blog_title a:hover{
	color:#000;
}
.alpha2 {
	margin-right:1.6%;
}
.grid_3 {
	width: 15.5%;
	float: left;
}
.grid_4 {
	width:82.5%;
	float: left;
}
h4.m_7{
	margin-bottom:1%;
}
h4.m_7 a{
	color: #555;
	font-size: 0.8125em;
	text-transform: uppercase;
}
h4.m_7 a:hover{
	color:#FE2232;
}
ul.latest_post li{
	list-style: none;
	display: inline-block;
	margin-right: 8px;
	font-size:1em;
	color: #5E5E5E;
}
ul.latest_post li img{
	vertical-align: middle;
	margin-right: 5px;
}
.news{
	margin-bottom:5%;
}
/* Portolio Hover */
.da-thumbs li ,
.da-thumbs li  img {
	display: block;
	position: relative;
}
.da-thumbs li  {
	overflow: hidden;
}
.da-thumbs li  article {
	position: absolute;
	background-image:url(../images/image_hover.png);
	background-repeat:repeat;
	width: 100%;
	height: 100%;
}
.da-thumbs li  article.da-animate {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
/* Initial state classes: */
.da-slideFromTop {
	left: 0px;
	top: -100%;
}
.da-slideFromBottom {
	left: 0px;
	top: 100%;
}
.da-slideFromLeft {
	top: 0px; 
	left: -100%;
}
.da-slideFromRight {
	top: 0px;
	left: 100%;
}
/* Final state classes: */
.da-slideTop {
	top: 0px;
}
.da-slideLeft {
	left: 0px;
}
.da-thumbs li  article a {
	color:#fff;
	padding:20px;
	display:block;
}
.da-thumbs {
	text-align:center;
}
.da-thumbs li  article h3{
	color:#fff;
	font-size: 1.2em;
	padding:90px 0 10px 0;
	text-transform: uppercase;
}
.da-thumbs li  article em{
	margin-bottom:10px;
	color:#fff;
	display:block;
}
.da-thumbs li  article span{
	display:inline-block;
}
span.link_post{
	display:block;
	width:35px;
	height:35px;
	background-color:#FE2232;
	border-radius:50px;
	cursor:pointer;
	background-image:url(../images/link_post_icon.png);
	background-repeat:no-repeat;
	background-position:center;
	margin-right:10px;
}
span.zoom{
	overflow:hidden;
	display:block;
	width:35px;
	height:35px;
	background-color:#FE2232;
	border-radius:50px;
	cursor:pointer;
	background-image:url(../images/zoom_icon.png);
	background-repeat:no-repeat;
	background-position:center;
	margin-left:10px;
}
.portfolio_2col article h3{
	padding-top:70px !important;
}
/* Image Grid */
.image_grid {
	float:left;
	overflow:hidden;
	margin-bottom: 4%;
	position:relative;
}
.image_grid li{
	float: left;
	line-height: 17px;
	color: #686f74;
	list-style:none;
	overflow:hidden;
	text-align:center;
}
/* Responsive image grid*/
/* Mobile landscape width 320 */
@media only screen and (max-width: 767px) {
.image_grid{
	width:270px;
}
.image_grid li img{
	width:220px;
}
.portfolio_4col .da-thumbs li article h3{
	padding-top:70px;
}
.portfolio_3col .da-thumbs li article h3{
	padding-top:50px;
}
.portfolio_2col .da-thumbs li article h3{
	padding-top:53px !important;
}
}
 @media only screen and (min-width: 480px) and (max-width: 767px) {
.image_grid{
	width:450px;
}
.image_grid li{
	width:178px !important;
}
.portfolio_4col .da-thumbs li article h3{
	padding-top:23px;
}
.portfolio_3col .da-thumbs li article h3{
	padding-top:34px;
}
.portfolio_2col .da-thumbs li article h3{
	padding-top:23px !important;
}
}
h4.m_6{
	color: #555;
	font-size: 1.3em;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin-bottom: 1%;
}
.span_1_of_w1{
	width:25.2%;
}
.lsidebar2{
	display: block;
	float: left;
	margin: 1% 0% 1% 3.6%;
}
.video-feed {
	position: relative;
	padding-bottom: 5px;
}
.video-feed a {
	position: absolute !important;
	background: url(../images/video.png)#F00 9px 4px;
	text-align: center;
	border-radius: 50%;
	text-decoration: none;
	top: 50%;
	margin-top: -24px;
	margin-left: -40px;
	left: 51%;
	display: block;
	height: 57px;
	width: 57px;
	color: #FFF;
	line-height: 57px;
	font-size: 26px;
}
.video-feed h6 {
	font-size: 12px;
	line-height: 11px;
	color: #FFF;
	text-transform: uppercase;
	position: absolute;
	left: 0;
	bottom: 8px;
	background: #000;
	padding: 10px;
}
/*--hover-image--*/
.single-set{
	overflow:hidden;
	padding:30px 10px 15px 10px ;
}
.container1{
	position:relative;
	overflow:hidden;
	-webkit-transition: all .5s ease-out;
	 -moz-transition: all .5s ease-out;
	 transition: all .5s ease-out;
}
.container1 img{
	display:block;
}
.container1:hover{
	opacity:1;
	cursor:pointer;
}
.text{
	 background:rgba(0,0,0,0.5);
 	color:white;
 	height:auto;width:inherit;
 	position:absolute;
}
.text a{
	color:#fff;  
 	display:block; 
 	padding:15px; 
 	font-size:16px;
 	font-weight:normal;
 	text-shadow:none;
 	text-decoration:none;
 	width:400px;
 	font-family: 'Dosis', sans-serif;
}
/* CSS3 Left Effect */
article.css3-4
{
 	left:-400px;bottom:0;
 	-webkit-transition: all .5s ease-out;
 	-moz-transition: all .5s ease-out;
 	-o-transition: all .5s ease-out;
 	transition: all .5s ease-out;
 	width:400px;
}
.text a.css3-4{
 	-webkit-transition: all .4s ease-out;
 	-moz-transition: all .4s ease-out;
 	-o-transition: all .5s ease-out;
 	transition: all .4s ease-out;
}
.text a.css3-4:hover{  
 	color:#fff;
 	text-decoration:none;  
}
.container1:hover article.css3-4{
 	left:0;
}
.start-top{
	margin-bottom: 3%;
}
.video{
	margin-bottom:3%;
}
/*--album--*/
.album-desc{
	margin-bottom:3%;
}
p.m_7{
	color:#777;
	font-size:1em;
	margin:1% 0 2% 0;
}
h3.m_8{
	color:#555;
	font-size:1em;
	text-transform:uppercase;
	margin:1% 0 0 0;
}
span.m_9{
	color:#999;
	font-size:0.85em;
}
h4.m_10{
	color:#555;
	font-size:1em;
	text-transform:uppercase;
	margin-top:10px;
}
p.m_11{
	color:#777;
	font-size:1em;
	line-height:1.8em;
	margin: 10px 0;
}
ul.track-btns{
	float:right;
}
.songs li {
	margin-bottom:20px;
	overflow: hidden;
}
.songs li .track-nr {
	background: #FE2232;
	display: block;
	height: 100%;
	width:40px;
	float: left;
	color: #FFF;
	text-align: center;
	line-height:40px;
	font-size: 1.1em;
}
.songs .track-meta {
	width: 73.5%;
	float: left;
	margin: -5px 0 0 20px;
}
.songs .track-meta h5{
	margin-bottom:5px;
}
.songs .track-meta h5 a{
	color: #333;
	font-size:1.1em;
}
.songs .track-meta h5 a:hover{
	color:#FE2232;
}
.songs .track-meta p {
	margin-bottom: 6px;
	font-size:1em;
	color: #777;
}
.songs li .track-btns li .download-track, .songs li .track-btns li .buy-track {
	display: block;
	text-transform: uppercase;
	height: 24px;
	padding: 0 15px;
	line-height: 24px;
	font-size: 12px;
	color: #FFF;
	background:#FE2232;
	text-align: center;
}
.songs li .track-btns li .download-track:hover {
	background:#555;

}
.songs li .track-btns li .buy-track:hover {
	background: #6B7E2B;
	text-decoration: none;
}
.songs li .track-btns li {
	float: left;
	margin-left: 13px;
}
.songs li .track-btns li .buy-track {
	background: #63962D;
}
.track{
	margin:3% 0;
}
ul.songs{
	margin-top:2%;
}
/*--support--*/
span.rollover {
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition: -webkit-transform 1s;
	background: url(../images/plus.png) center center no-repeat rgba(196, 194, 194, 0.36);
	cursor: pointer;
	height: 192px;
	width: 289px;
	position: absolute;
	z-index: 10;
	opacity: 0;
	}
	span.rollover:hover {
	opacity: .7;
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition: -webkit-transform 1s;
}
h4.m_11 a{
	color:#333;
	text-transform:uppercase;
	font-size:0.95em;
}
h4.m_11 {
	margin:10px 0;
}
h4.m_11 a:hover{
	color:#FE2232;
}
p.m_12{
	color:#777;
	font-size:0.95em;
	line-height:1.8em;
}
.pagination {
	margin: 0 auto;
	display: table;
	padding-top: 3%;
}
.pagination li {
float: left;
margin-left: 10px;
}
.pagination li a {
	padding-top: 7px;
	display: table;
}
.skin-font-color13 {
	color: #3D3D3D;
}
.skin-background-color1 {
	background-color:#FE2232;
}
.skin-border-color4 {
	border-color: #D6D6D6;
}
.pagination .border {
	border-width: 1px;
	border-style: solid;
	height: 39px;
	width: 39px;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align: center;
}
.skin-font-color3 {
	color: #FFF;
}
/*--about--*/
/*  GRID OF Content and sidebar   ============================================================================= */
.rsidebar{
	display: block;
	float:left;
	margin: 1% 0 1% 3.6%;
} 	
.span_2_of_about {
	width:71.1%;
}
.span_1_of_about {
	width:25.2%;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.cont{ 
		margin: 1% 0 1% 0%;
	}
	.rsidebar{
		margin:0;
	}
	.span_2_of_about{
		width:94%;
		padding:3%;  
	}
	.span_1_of_about{
		width:94%;
		padding:3%; 
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.cont{ 
		margin: 1% 0 1% 0%;
	}
	.rsidebar{
		margin:0;
	}
	.span_2_of_about{
		width:92%;
		padding:4%;
	}
	.span_1_of_about{
		width:92%;
		padding:4%;
	}
}
.about-left{
	float:left;
	width:34.5%;
}
.about-left img{
	border: 5px solid #FFF;
}
.about-right{
	width: 63.5%;
	float: left;
	margin: 0 0 0 1.6%;
}
ul.sidebar li {
	list-style-image: url(../images/bg_li.png);
	margin: 0 15px 10px;
	vertical-align: bottom;
}
ul.sidebar li a {
	font-size:1em;
	color: #777;
	vertical-align: middle;
}
ul.sidebar li a:hover{
	color:#555;
}
/*  GRID OF Content and sidebar   ============================================================================= */
h3.head2 {
	color: #666;
	font-size:1.5em;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 2%;
}
.lsidebar{
	display: block;
	float:left;
	margin: 1% 3.6% 1% 0;
} 	
.span_2_of_about-bottom{
	width: 65.1%;
}
.span_1_of_about-bottom{
	width: 31.2%;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) {
	.wrap{
		width:95%;
	}
	.cont{ 
		margin: 1% 0 1% 0%;
	}
	.lsidebar{
		margin:0;
	}
	.span_2_of_about-bottom {
		width:94%;
		padding:3%;  
	}
	.span_1_of_about-bottom {
		width:94%;
		padding:3%; 
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.cont{ 
		margin: 1% 0 1% 0%;
	}
	.lsidebar{
		margin:0;
	}
	.span_2_of_about-bottom {
		width:92%;
		padding:4%;
	}
	.span_1_of_about-bottom  {
		width:92%;
		padding:4%;
	}
}
ul.list1 span{
	float:left;
	background:#FE2232;
	color:#fff;
	font-size:1.5em;
	width: 47px;
	height: 40px;
	text-align: center;
	padding: 10px 0 0 0;
}
.list1_desc{
	float: left;
	width: 85.5%;
	margin: 0 0 0 2.6%;
}
.list1_desc h3{
	margin-bottom:1.6%;
}
.list1_desc p{
	color:#777;
	font-size:1em;
	line-height:1.5em;
}
ul.list1{
	margin: 4% 0 6% 0;
}
h5.m_12{
	margin-bottom:5px;
}
h5.m_12 a{
	color:#555;
	text-transform:uppercase;
	font-size:0.95em;
}
h5.m_12 a:hover{
	color:#000;
}
.btn1{
	display: inline-block;
	padding:7px 25px;
	margin-bottom: 0;
	font-size:1em;
	line-height: 24px !important;
	font-weight: 400 !important;
	text-align: center;
	vertical-align: middle;
	color: #FFF;
	cursor: pointer;
	background: #3C3D3D;
	border: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	text-shadow: none !important;
	height: auto;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	transition: all ease 0.3s;
	margin-top: 10px;
}
.btn1:hover{
	background: #FE2232;
}
.testimonials{
	margin-top: 6%;
}
.testimonials .testi-item {
	overflow: hidden;
	margin-bottom: 2em;
	background: none;
}
.testimonials .testi-item blockquote {
	position: relative;
	display: block;
	margin: 0;
	padding: 20px;
	background: #FFF;
	border: 1px solid #D0D0D0;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}
.testimonials .testi-item blockquote a {
	color: #777;
	font-size: 0.85em;
	line-height: 1.8em;
}
.testimonials .testi-item blockquote:after {
	position: absolute;
	top: 10px;
	left: 20px;
	display: block;
	width: 41px;
	height: 38px;
	background: url(../images/quotes.png) 0 0 no-repeat;
	content: "";
}
.testimonials .testi-item .testi-meta {
	font-size: 1em;
	color: #777;
}
.testimonials .testi-item .testi-meta {
	font-size: 1em;
	display: block;
	padding-top: 22px;
	padding-left: 40px;
}
.testi-meta a{
	color:#555;
}
.testi-meta a:hover{
	color:#000;
}
.testimonials .testi-item blockquote a:hover{
	color:#FE2232;
}
.css3 img {
	-webkit-transition-duration: 0.5s;
	Webkit: Animation duration;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}
.css3 img:hover {
	-webkit-transform: scale(0.9);
	Webkit: Scale up image to 1.2x original size;
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	opacity: 1;
}
/*  GRID OF THREE   ============================================================================= */
.col_1_of_team{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col_1_of_team:first-child { margin-left: 0; }
.span_1_of_team {
	width:32.2%;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.col_1_of_team{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_team {
		width:94%;
		padding:3%;  
	}
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
     
     .wrap{
		width:95%;
	}		
	.col_1_of_team{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_team {
		width:92%;
		padding:4%;
	}
}
.about-middle{
	margin:2% 0;
}
.section1{
	margin-bottom:2%;
}
/*--industries--*/
.skin-font-color8 {
	color:#FE2232;
	margin-top: 14px;
	display: table;
}
.skin-font-color6 {
	color: #949494;
}
.skin-background-color2 {
	background-color: #212121;
}
.button-normal {
	padding: 12px 15px;	
	width: 100%;
	display: table;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-top: 17px;
}
.skin-background-hover3:hover {
	background-color: #737373;
	-webkit-transition: background-color 300ms linear;
	-moz-transition: background-color 300ms linear;
	-o-transition: background-color 300ms linear;
	-ms-transition: background-color 300ms linear;
	transition: background-color 300ms linear;
}
p.industri_text{
	color:#777;
	margin-top:10px;
	line-height:1.5em;
	font-size:1em;
}
.skin-background-color9 {
	background-color:#FE2232;
}
/*--features--*/
.post_meta {
	border: none;
	padding: 10px 30px;
	margin-bottom: 10px;
	font-size:1em;
	text-transform: uppercase;
	color: #000;
	background-color:#E4E4E4;
	width: auto;
	display: inline-block;
	vertical-align: top;
}
.post_meta a {
	color:#FE2232;
}
.post_meta a:hover{
	color:#000;
}
h5.m_1 {
	margin: 5px 0 10px 0;
}
h5.m_1 a {
	color: #555;
	font-size: 1em;
	line-height: 24px;
	text-transform: uppercase;
}
h5.m_1 a:hover {
	color:#000;
}
p.m_13{
	color:#777;
	font-size:1em;
	line-height:1.8em;
	margin:10px 0;
}
.feature-desc{
	margin-bottom:2%;
}
/*--faq--*/
li.list-bg {
	color: #555;
	font-size: 1.2em;
	margin-bottom: 5px;
}
p.f-text {
	color: #777;
	font-size:1em;
	margin-bottom: 20px;
	line-height: 1.8em;
}
p.f-text1 {
	color: #777;
	font-size: 1em;
	margin-bottom:0px;
	line-height: 1.8em;
}
/*--blog--*/
/*  GRID OF Content and sidebar   ============================================================================= */
.bsidebar{
	display: block;
	float:left;
	margin:0% 0 1% 3.6%;
} 	
.span_2_of_blog{
	width: 65.1%;
}
.span_1_of_blog {
	width:31.2%;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.cont{ 
		margin: 1% 0 1% 0%;
	}
	.rsidebar{
		margin:0;
	}
	.span_2_of_blog {
		width:94%;
		padding:3%;  
	}
	.span_1_of_blog {
		width:94%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.cont{ 
		margin: 1% 0 1% 0%;
	}
	.rsidebar{
		margin:0;
	}
	.span_2_of_blog {
		width:92%;
		padding:4%;
	}
	.span_1_of_blog {
		width:92%;
		padding:4%;
	}
}
.item_published {
	float: left;
	background:#FE2232;
	margin-right: 20px;
	color: #FFF;
	text-transform: uppercase;	
	font-size: 18px;
	line-height: 24px;
	padding: 8px 0 6px;
	text-align: center;
	width: 50px;
}
.info_dl {
	margin: 0 0 15px;
}
.item-head{
	color:#777;
	font-size:1em;
}
.item-head a{
	color:#555;
}
.item-head a:hover{
	color:#FE2232;
}
.info_dl dd {
	margin: 0;
	display: inline;
}
.info_dl dd.comment1 {
	float: right;
}
span.comment-left a {
	color: #777;
}
span.comment-left a:hover{
	color:#000;
}
.item_head h5 a {
	color:#555;
	font-size:1em;
}
.item_head h5 a:hover{
	color:#000;
}
.item_head h5 {
	color: #777;
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: 21px;
}
.link {
	background: url(../images/marker.png) no-repeat 100% 6px;
	display: inline-block;
	padding: 0 15px 0 0;
	line-height: 19px;
	font-size: 0.95em;
	font-style: normal;
	color: #555;
	text-transform: uppercase;
}
.link:hover{
	background: url(../images/marker1.png) no-repeat 100% 6px;
	color:#FE2232;
}
.blog-left{
	margin-bottom:5%;
}
p.f-text1{
	color: #777;
	font-size: 1em;
	margin-bottom: 10px;
	line-height: 1.8em;
}
/******** SAP ************/
.sap_tabs{
	clear:both;
	margin:7% 0;
}
.facts{
	padding: 5% 5% 1% 5%;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
	width: 100%;
}
.resp-tab-item:first-child{
	border-left:none;
}
.resp-tab-item{
	border-left: 1px solid #CFCFCF;
	color: #777;
	font-size: 1em;
	background: #E4E4E4;
	text-transform: uppercase;
	cursor: pointer;
	padding: 12px 0;
	display: inline-block;
	margin: 0;
	text-align: center;
	list-style: none;
	float: left;
	width: 33.12%;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.resp-tab-item:hover {
	background:#FE2232;
	text-shadow: none;
	color: #FFF;
}
.resp-tab-active{
	background:#FE2232;
	text-shadow: none;
	color:#fff;
}
.resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
h2.resp-accordion {
	font-size:1em;
	margin: 0px;
	padding: 10px 15px;
	background:#C5CDD1;
	margin:10px 0;
	color:#FFF;
}
h2.resp-accordion:hover{
	background:#FE2232;
	text-shadow: none;
	color: #FFF;
}
@media only screen and (max-width:480px) {
	.sap_tabs{
		padding-top:0;
	}
	.resp-tabs-container{
		padding:10px;
	}
ul.resp-tabs-list {
  	display: none;
}
h2.resp-accordion {
  	display: block;
}
.resp-vtabs .resp-tab-content {
  	border: 1px solid #C1C1C1;
}
.resp-vtabs .resp-tabs-container {
	border: none;
	float: none;
	width: 100%;
	min-height: initial;
	clear: none;
}
.resp-accordion-closed {
	display: none !important;
}
}
span.tab-img{
	float: left;
	width: 30.5%;
	margin-right: 2.6%;
}
.tab-text{
	float:left;
	width: 66.5%;
}
.tab-text p{
	margin-bottom: 10px;
}
.tab-text p a{
	color: #777;
	font-size: 0.95em;
	line-height: 1.5em;
	text-transform: uppercase;
}
.tab-text p a:hover{
	color:red;
}
.post-meta {
	font-size: 14px;
	margin-bottom: 10px;
}
.post-meta img{
	vertical-align:middle;
	margin-top: -2px;
}
.post-meta a {
	color: #777;
	margin-right: 10px;
}
.post-meta a:hover{
	color:red;
}
.tab-left{
	margin-bottom:5%;
}
.link1{
	background: url(../images/marker.png) no-repeat 100% 6px;
	display: inline-block;
	padding: 0 15px 0 0;
	line-height: 19px;
	font-size: 0.9em;
	font-style: normal;
	color: #555;
	text-transform: uppercase;
}
.link1:hover {
	background: url(../images/marker1.png) no-repeat 100% 6px;
	color: #FE2232;
}
.search{
	position:relative;
	background:#E4E4E4;
	padding: 5px 0;
	margin-bottom: 7%;
}
.search form input[type="text"] {
	outline: none;
	padding: 2px 10px;
	outline: none;
	color:#777;
	background: none;
	border: none;
	width: 83.33%;
	line-height: 1.5em;
	cursor:pointer;
	font-size:1em;
	font-family: 'Dosis', sans-serif;
}
.search form input[type="submit"] {
	background: url('../images/search.png') no-repeat 7px 3px;
	padding: 4px 14px;
	border: none;
	cursor: pointer;
	position: absolute;
	line-height: 1.5em;
	outline: none;
}
h2.head4{
	color:#555;
	font-size:1.5em;
	margin-bottom:2%;
	text-transform:uppercase;
}
ul.list1 li {
	list-style-image: url(../images/marker.png);
	margin: 0 0px 10px 20px;
	vertical-align: bottom;
}
ul.list1 li a {
	font-size:1em;
	color:#777;
}
ul.list1 li a:hover{
	color:#000;
}
.tags li {
	float: left;
	margin: 0 10px 10px 0;
}
.tags li a {
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	padding: 0px 15px;
	display: block;
	color: #777;
	background:#E4E4E4;
}
.tags li a:hover{
	background:#FE2232;
	color:#fff;
}
.links {
	padding: 10px 0px;
	border: 1px solid #E4E4E4;
	border-left: none;
	border-right: none;
	margin-bottom: 2%;
}
.links ul li {
	display: inline-block;
}
.links ul li a {
	font-size:1em;
	color:#777;
	padding-left: 20px;
}
.links ul li img {
	vertical-align: middle;
	padding-right: 10px;
}
.links ul li a:hover {
	text-decoration: underline;
}
.comments-area p {
	position: relative;
	padding: 8px 0;
}
.comments-area label {
	display: block;
	color: #777;
	font-size: 1em;
}
.comments-area span {
	color:#FE2232;
	position: absolute;
	left: 4px;
	top: 30px;
}
.comments-area input[type="text"] {
	padding: 7px 15px;
	width: 47%;
	color: #777;
	font-size:1em;
	border: none;
	background:#E4E4E4;
	outline: none;
	display: block;
	font-family: 'Dosis', sans-serif;
}
.comments-area textarea {
	padding: 7px 15px;
	width: 70%;
	color:#777;
	font-size:1em;
	outline: none;
	height: 100px;
	display: block;
	border: none;
	background:#E4E4E4;
	font-family: 'Dosis', sans-serif;
}
.comments-area input[type="submit"] {
	padding: 8px 15px;
	color: #F0F0F0;
	background: #3D3D3D;
	border:none;
	cursor: pointer;
	outline:none;
	font-family: 'Dosis', sans-serif;
	font-size:1em;
}
.comments-area input[type="submit"]:hover{
	background: #FE2232;
}
/*--login--*/
.login-title h4 {
	color: #555;
	margin-bottom: 0.5em;
	font-size: 1.5em;
	line-height: 1.2;
	font-weight: normal;
	text-transform: uppercase;
}
#login-form label {
	color: #777;
	line-height: 2.8em;
	font-size: 1em;
}
input.inputbox, input.required, div.k2AccountPage input[type="text"] {
	background: #FFF;
	border: 1px solid #DFDFDF;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	height: 35px;
	padding: 0 14px;
	width: 50%;
	outline: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: 1em;
	color:#777
}
fieldset.input input[type="submit"] {
	background:#555;
	border: none;
	color: #FFF;
	padding: 8px 40px;
	cursor: pointer;
	font-size: 1.2em;
	font-family: 'Dosis', sans-serif;
}
fieldset.input input[type="submit"]:hover {
	background:#FE2232;
}
/*--404--*/
.page-not-found h1 {
	font-size: 15em;
	color: #F0F0F0;
	text-align: center;
	text-shadow: 1px 1px 6px #AAA;
	-moz-text-shadow: 1px 1px 6px #aaa;
	-webkit-text-shadow: 1px 1px 6px #aaa;
	-o-text-shadow: 1px 1px 6px #aaa;
}
/*--responsive deisign--*/
@media (max-width:1366px){
	.wrap{
		width:90%;
	}
	.buttons {
		width: 28.5%;
	}
	.textbox {
		width: 30.5%;
	}
	.list1_desc {
		width: 84.5%;
	}
	span.rollover {
		height: 185px;
		width: 275px;
	}
	#nav > ul > li {
		margin: 0 12px;
	}
}
@media (max-width:1280px){
	.wrap{
		width:90%;
	}
	.textbox {
		width:25.5%;
	}
	.list1_desc {
		width: 83.5%;
	}
	#nav > ul > li {
		margin: 0 12px;
	}
	.login_btn a {
		padding: 8px 15px;
	}
	.get_btn a {
		padding: 10px 15px;
	}
	span.middle {
		font-size: 1em;
	}
	.buttons {
		width: 28.5%;
	}
	.logo {
		width: 26.5%;
	}
	.cssmenu {
		width: 43.5%;
	}
}
@media (max-width:1024px){
	.wrap{
		width:90%;
	}
	.buttons {
		width:30.5%;
	}
	.logo {
		width: 24.5%;
	}
	.textbox {
		width: 30.5%;
	}
	.list1_desc {
		width: 80.5%;
	}
	#nav > ul > li {
		margin: 0 6px;
	}
	.login_btn a {
		padding: 8px 15px;
		font-size: 0.7em;
	}
	.get_btn a {
		padding: 10px 15px;
		font-size: 0.7em;
	}
	span.middle {
		font-size: 0.8em;
	}
	#nav > ul > li > a {
		font-size: 0.9em;
	}
	h2.head {
		font-size: 2.1em;
	}
	ul.events li a {
		margin: 0 9px;
	}
	.search_box {
		width: 21%;
	}
	.content-box-right {
		width: 70.5%;
	}
	.span_1_of_3 h3 a {
		font-size: 1em;
	}
	.search form input[type="submit"] {
		background: url('../images/search.png') no-repeat -2px 3px;
	}
	.resp-tab-item {
		width: 32.9999%;
		padding: 10px 0;
	}
	span.rollover {
		height: 137px;
		width: 205px;
	}
	.da-thumbs li article h3 {
		padding: 55px 0 10px 0;
	}
}
@media (max-width:800px){
	.wrap{
		width:90%;
	}
	.textbox {
		width: 30.5%;
		margin-bottom: 10px;
	}
	.list1_desc {
		width:73.5%;
	}
	.login_btn a {
		padding: 8px 15px;
		font-size: 0.7em;
	}
	.get_btn a {
		padding: 10px 15px;
		font-size: 0.7em;
	}
	span.middle {
		display: none;
	}
	h2.head {
		font-size: 2.3em;
	}
	ul.events li a {
		margin: 0 9px;
	}
	.search_box {
		width: 21%;
	}
	.content-box-right {
		width: 100%;
		float: none;
		margin-top:10px;
	}
	.span_1_of_3 h3 a {
		font-size: 1em;
	}
	.search form input[type="submit"] {
		background: url('../images/search.png') no-repeat -2px 3px;
	}
	.resp-tab-item {
		width: 32.9999%;
		padding: 10px 0;
	}
	span.rollover {
		height: 107px;
		width: 159px;
	}
	ul.events {
		float: none;
		width: 100%;
		margin-top: 0px;
	}
	ul.events > li.active a, ul.events > li a:hover {
		border-bottom: 2px solid #FE2232;
		padding-bottom: 5px;
	}
	.footer-menu li a {
		margin: 0 13px;
		line-height: 1.8em;
	}
	.lb-album li > a span {
		line-height: 130px;
	}
	.da-thumbs li article h3 {
		padding: 35px 0 10px 0;
	}
	p.m_12 {
		line-height: 1.5em;
	}
	.search form input[type="text"] {
		width: 78.33%;
	}
	.cssmenu {
		width: 58%;
		float: right;
	}
	.buttons {
		width:100%;
	}
	.login_btn {
		margin-right: 60.6%;
	}
}
@media (max-width:640px){
	.wrap{
		width:90%;
	}
	.textbox {
		width: 30.5%;
		margin-bottom: 10px;
	}
	.list1_desc {
		width:73.5%;
	}
	.login_btn a {
		padding: 8px 15px;
	}
	.get_btn a {
		padding: 10px 15px;
	}
	span.middle {
		display: none;
	}
	h2.head {
		font-size:1.5em;
	}
	ul.events li a {
		margin: 0 9px;
	}
	.search_box {
		width: 21%;
	}
	.content-box-right {
		width: 100%;
		float: none;
		margin-top:10px;
	}
	.span_1_of_3 h3 a {
		font-size: 1em;
	}
	.search form input[type="submit"] {
		background: url('../images/search.png') no-repeat -2px 3px;
	}
	.resp-tab-item {
		width: 32.9999%;
		padding: 10px 0;
	}
	span.rollover {
		height: 201px;
		width: 300px;
	}
	ul.events {
		float: none;
		width: 100%;
		margin-top: 0px;
	}
	ul.events > li.active a, ul.events > li a:hover {
		border-bottom: 2px solid #FE2232;
		padding-bottom: 5px;
	}
	.footer-menu li a {
		margin: 0 13px;
		line-height: 1.8em;
	}
	.lb-album li > a span {
		line-height: 130px;
	}
	.da-thumbs li article h3 {
		padding: 35px 0 10px 0;
	}
	p.m_12 {
		line-height: 1.5em;
	}
	.search form input[type="text"] {
		width: 78.33%;
	}
	span.m_23 {
		margin: 0 165px 0 0;
	}
	.span_1_of_w1 {
		width:100%;
	}
	.lsidebar2 {
		float:none;
		margin:0;
	}
	#pricePlans #plans .plan {
		width:100%;
	}
	.cssmenu {
		width: 56%;
		float:left;
		margin-top:0;
	}
	.buttons {
		width:100%;
		display: inline-flex;
	}
	.logo {
		width: 20.5%;
		float: right;
		margin-top:10px;
	}
	.login_btn {
		margin-right:0;
		float: none;
		width:100%;
	}
	.get_btn {
		float: none;
		width:100%;
	}
	.header-top {
		padding:0;
	}
	#nav > a {
		top:10px;
	}
	#nav:target > ul {
		margin-top: 10px;
		z-index: 999;
	}
	h2.head {
		padding-bottom:2%;
	}
	#nav > ul > li {
		margin: 0 0px;
	}
	#nav > ul > li > a:hover{
		color:#FE2232;
	}
}
@media (max-width:480px){
	.wrap{
		width:90%;
	}
	.textbox {
		display:none;
	}
	.list1_desc {
		width:73.5%;
	}
	#nav > ul > li {
		margin: 0 0px;
	}
	.login_btn a {
		padding:7px 10px;
	}
	.get_btn a {
		padding:8px 10px;
	}
	span.middle {
		display: none;
	}
	#nav > ul > li > a {
		font-size: 0.9em;
	}
	h2.head {
		font-size:1.2em;
	}
	ul.events li a {
		margin: 0 9px;
	}
	.search_box {
		width: 21%;
	}
	.content-box-right {
		width: 100%;
		float: none;
		margin-top:10px;
	}
	.span_1_of_3 h3 a {
		font-size: 1em;
	}
	.search form input[type="submit"] {
		background: url('../images/search.png') no-repeat -2px 3px;
	}
	.resp-tab-item {
		width: 32.9999%;
		padding: 10px 0;
	}
	span.rollover {
		height: 201px;
		width: 300px;
	}
	ul.events {
		float: none;
		width: 100%;
		margin-top: 0px;
	}
	ul.events > li.active a, ul.events > li a:hover {
		border-bottom: 2px solid #FE2232;
		padding-bottom: 5px;
	}
	.footer-menu li a {
		margin: 0 13px;
		line-height: 1.8em;
	}
	.lb-album li > a span {
		line-height:310px;
	}
	.da-thumbs li article h3 {
		padding: 35px 0 10px 0;
	}
	p.m_12 {
		line-height: 1.5em;
	}
	.search form input[type="text"] {
		width: 78.33%;
	}
	span.m_23 {
		margin: 0 20px 0 0;
	}
	.about-left {
		margin-right: 4.6%;
	}
	.about-right {
		width: 100%;
		float: none;
		margin: 0 0 0 0;
	}
	.lb-album li {
		margin:0 0 10px 0;
		width:100%;
		float:none;
	}
	.span_1_of_w1 {
		width:100%;
	}
	.lsidebar2 {
		float:none;
		margin:0;
	}
	#pricePlans #plans .plan {
		width:100%;
	}
	.cssmenu {
		width: 56%;
		float:left;
		margin-top:0;
	}
	.buttons {
		width:100%;
	}
	.logo {
		width: 25.5%;
		float: right;
		margin-top: 10px;
	}
	.login_btn {
		margin-right: 42.6%;
	}
	.header-top {
		padding:0;
	}
	#nav > a {
		top:10px;
	}
	#nav:target > ul {
		margin-top: 10px;
		z-index: 999;
	}
	h2.head {
		padding-bottom:2%;
	}
	.copy {
		float: none;
		margin-top: 10px;
		text-align: center;
	}
	.social {
		float: none;
		text-align: center;
	}
	.login_btn {
		margin-right:0;
		float: none;
		width:100%;
	}
	.get_btn {
		float: none;
		width:100%;
	}
}
@media (max-width:320px){
	.wrap{
		width:90%;
	}
	.textbox {
		display:none;
	}
	.list1_desc {
		width:73.5%;
	}
	#nav > ul > li {
		margin: 0 6px;
	}
	.login_btn a {
		padding: 5px 11px;
	}
	.get_btn a {
		padding:6px 11px;
	}
	span.middle {
		display: none;
	}
	#nav > ul > li > a {
		font-size: 0.9em;
	}
	h2.head {
		font-size:0.95em;
	}
	ul.events li a {
		margin: 0 9px;
	}
	.search_box {
		width: 21%;
	}
	.content-box-right {
		width: 100%;
		float: none;
		margin-top:10px;
	}
	.span_1_of_3 h3 a {
		font-size: 1em;
	}
	.search form input[type="submit"] {
		background: url('../images/search.png') no-repeat -2px 3px;
	}
	.resp-tab-item {
		width: 32.9999%;
		padding: 10px 0;
	}
	span.rollover {
		height: 170px;
		width: 254px;
	}
	ul.events {
		float: none;
		width: 100%;
		margin-top: 0px;
	}
	ul.events > li.active a, ul.events > li a:hover {
		border-bottom: 2px solid #FE2232;
		padding-bottom: 5px;
	}
	.footer-menu li a {
		margin: 0 13px;
		line-height: 1.8em;
	}
	.lb-album li > a span {
		line-height:230px;
	}
	.da-thumbs li article h3 {
		padding: 35px 0 10px 0;
	}
	p.m_12 {
		line-height: 1.5em;
	}
	.search form input[type="text"] {
		width: 78.33%;
	}
	span.m_23 {
		margin: 0 3px 0 0;
	}
	.about-left {
		margin-right: 4.6%;
	}
	.about-right {
		width: 100%;
		float: none;
		margin: 0 0 0 0;
	}
	.lb-album li {
		margin:0 0 10px 0;
		width:100%;
		float:none;
	}
	.span_1_of_w1 {
		width:100%;
	}
	.lsidebar2 {
		float:none;
		margin:0;
	}
	#pricePlans #plans .plan {
		width:90%;
	}
	.cssmenu {
		width: 56%;
		float:left;
		margin-top:0;
	}
	.buttons {
		width:100%;
	}
	.logo {
		width:30.5%;
		float: right;
		margin-top:7px;
	}
	.login_btn {
		margin-right:6.6%;
	}
	.header-top {
		padding:0;
	}
	#nav > a {
		top:10px;
	}
	#nav:target > ul {
		margin-top: 10px;
		z-index: 999;
	}
	h2.head {
		padding-bottom:2%;
	}
	#nav > ul > li {
		padding: 0 0px;
	}
	.copy {
		float: none;
		margin-top: 10px;
		text-align: center;
	}
	.social {
		float: none;
		text-align: center;
	}
	.planContainer .title1 h3 {
		font-size: 1.2em;
	}
	.planContainer .price p {
		font-size: 0.95em;
		line-height: 1.6em;
		height:1.6em;
	}
	.planContainer .options li{
		line-height: 2em;
		font-size:0.95em;
	}
	.planContainer .button a {
		line-height: 1.8em;
		width: 50%;
		height: 1.8em;
		font-size: 0.8125em;
		letter-spacing: 1px;
	}
	.planContainer .title h2 {
		padding: 10px 0;
		font-size: 1.2em;
	}
	h2.head1 {
		font-size: 1.2em;
	}
	h3.head2 {
		font-size: 1.2em;
	}
	h4.m_6 {
		font-size: 1.2em;
		margin-bottom:0;
	}
	.button-normal {
		padding: 5px 10px;
	}
	.bsidebar {
		float:none;
		margin:0;
	}
	h2.head4{
		font-size: 1.2em;
	}
	.login_btn {
		margin-right:0;
		float: none;
		width:100%;
	}
	.get_btn {
		float: none;
		width:100%;
	}
}