<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Request Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link th:href="@{css/style.css}" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
</head>
<body>
 <div class="header-top">
	<div class="wrap">
        <div class="logo">
			<a href="index.html"><img th:src="@{images/addis_event_logo.png}" alt=""/></a>
		</div>
		<div class="cssmenu">
		  <nav id="nav" role="navigation">
			<a href="#nav" title="Show navigation">Show navigation</a>
			<a href="#" title="Hide navigation">Hide navigation</a>

		    </nav>
		  </div>
		  <div class="buttons">
				<div class="login_btn">
					<a href="login.html">View Status</a>
				</div>

				<div class="clear"></div>
		   </div>
	     <div class="clear"></div>

     </div>
    </div>
  <div class="main">
     <div class="wrap">
      	 <div class="section group">
				<div class="cont span_2_of_blog">
				  <div class="login-title">
           		<h4 class="title">Request Form</h4>
				<div id="loginbox" class="loginbox">

          <form th:action="@{/reqForm}" method="post" >
					  <fieldset class="input">
						<input type="hidden" name="payload" value="CSRF Attack!">
					    <p id="login-form-username">
					      <label for="modlgn_username">Event Name</label>
					      <input id="modlgn_username" type="text" name="eventname" class="inputbox" size="18" autocomplete="off">
					    </p>

					    <p id="login-form-password">
					      <label for="modlgn_passwd">Event Place</label>
					      <input id="modlgn_passwd" type="text" name="eventplace" class="inputbox" size="18" autocomplete="off">
					    </p>

              <p id="login-form-password1">
					      <label for="modlgn_passwd">Date</label>
					      <input id="modlgn_passwd" type="text" name="eventdate" class="inputbox" size="18" autocomplete="off">
					    </p>

          <p id="login-form-password1">
					      <label for="modlgn_passwd">Category</label>
					      <input id="modlgn_passwd" type="text" name="category" class="inputbox" size="18" autocomplete="off">
					    </p>

              <p id="login-form-password1">
                <label for="description">Description</label>
                <textarea name="description" rows="8" cols="80"></textarea>
                  </p>


					    <!-- <p id="types">
                <label for="type">Select the event type:</label>
                <label for="  specific_type">MUSIC</label>
					      <input id="typpes" type="checkbox" name="remember" class="checkbox" value="yes" autocomplete="off">
					    </p> -->
					    <input type="submit" name="Submit" class="button" value="Request">
					  </fieldset>
					 </form>

      	</div>
			</div>
			</div>

	     </div>
	   </div>
	   <div class="clear"></div>
	  </div>
   </div>
   <div class="footer" style="margin-bottom=0px;">
      <div class="wrap">
     	  <div class="footer-menu">

     	  </div>


		    <div class="clear"></div>
     	  </div>
       </div>
   </div>
</body>
</html>
