<!DOCTYPE HTML>
<html>
<head>
<title>SignUp Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link th:href="@{css/style.css}" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
</head>
<body>
 <div class="header-top">
	<div class="wrap">
        <div class="logo">
			<a href="index.html"><img th:src="@{images/addis_event_logo.png}" alt=""/></a>
		</div>
		<div class="cssmenu">
		  <nav id="nav" role="navigation">
			<a href="#nav" title="Show navigation">Show navigation</a>
			<a href="#" title="Hide navigation">Hide navigation</a>

		    </nav>
		  </div>
		  <div class="buttons">
				<div class="login_btn">
					<a href="login.html">View Status</a>
				</div>

				<div class="clear"></div>
		   </div>
	     <div class="clear"></div>

     </div>
    </div>
  <div class="main">
     <div class="wrap">
      	 <div class="section group">
				<div class="cont span_2_of_blog">
				  <div class="login-title">
           		<h4 class="title">SignUp Form</h4>
				<div id="loginbox" class="loginbox">

          <form th:action="@{/SignUp}" method="post" th:object="${theuser}">
					  <input type="hidden" name="payload" value="CSRF Attack!">
					  <fieldset class="input">
						
					    
					     
					      <p id="signup-form-username">
					      <label for="modsn_username">Username</label>
					      <input id="modsn_username" type="text" name="username" class="inputbox" size="18" autocomplete="off">
					    </p>
					    
							
					    <p id="login-form-password">
					      <label for="modlgn_passwd">Password</label>
					      <input id="modlgn_passwd" type="password" name="password" class="inputbox" size="18" autocomplete="off">
					    </p>

              <p id="login-form-password1">
					      <label for="modlgn_passwd">Confirm Password</label>
					      <input id="modlgn_passwd" type="password" name="confirmpassword" class="inputbox" size="18" autocomplete="off">
					    </p>


              <p id="login-form-password1">
                <label for="dis">Sign Up As:</label>
                <label for="description">EventOrganizer</label>
                <input type="radio" value="EventOrganizer" name = "therole">

                <label for="dis2">EventUser</label>
                <input type="radio" value="EventUser" name="therole"> 
                

                
                  </p>



					    <!-- <p id="types">
                <label for="type">Select the event type:</label>
                <label for="  specific_type">MUSIC</label>
					      <input id="typpes" type="checkbox" name="remember" class="checkbox" value="yes" autocomplete="off">
					    </p> -->
					    <input type="submit" name="Submit" class="button" value="SignUp">
					  </fieldset>
					 </form>

      	</div>
			</div>
			</div>

	     </div>
	   </div>
	   <div class="clear"></div>
	  </div>
   </div>
   <div class="footer" style="margin-bottom=0px;">
      <div class="wrap">
     	  <div class="footer-menu">

     	  </div>


		    <div class="clear"></div>
     	  </div>
       </div>
   </div>
</body>
</html>
