<!DOCTYPE html>
<html >
<head>
  <!-- Site made with Mobirise Website Builder v4.9.1, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.9.1, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" th:href="@{assets/images/logo-122x122.png}">
  <meta name="description" content="Web Site Maker Description">
  <title>first Page</title>
  <link rel="stylesheet" th:href="@{/assets/web/assets/mobirise-icons2/mobirise2.css}">
  <link rel="stylesheet" th:href="@{/assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css}">
  <link rel="stylesheet" th:href="@{/assets/web/assets/mobirise-icons/mobirise-icons.css}">
  <link rel="stylesheet" th:href="@{/assets/tether/tether.min.css}">
  <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap-grid.min.css}">
  <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap-reboot.min.css}">
  <link rel="stylesheet" th:href="@{/assets/animatecss/animate.min.css}">
  <link rel="stylesheet" th:href="@{/assets/dropdown/css/style.css}">
  <link rel="stylesheet" th:href="@{/assets/theme/css/style.css}">
  <link rel="stylesheet" th:href="@{/assets/mobirise/css/mbr-additional.css}" type="text/css}">



</head>
<body>
  <link rel="stylesheet" th:href="style.less" class="cid-rianL8pZJa" id="menu1-1i" data-rv-view="198"><section class="menu cid-rianL8pZJa" once="menu" id="menu1-1i">



    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a th:href="@{/}">
                         <img th:src="@{assets/images/addis-event-logo-156x43.png}">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" th:href="@{https://mobirise.co}"><span class="mbri-arrow-next mbr-iconfont mbr-iconfont-btn"></span></a></span>
            </div>
        </div>

    </nav>
</section>


<div style="margin-top:100px; margin-left: 900px;"  class="mbr-section-btn"><a class="btn btn-md btn-black-outline display-4" th:href="@{/login}">Login</a></div>
<div style="margin-left:890px; "  class="mbr-section-btn"><a class="btn btn-md btn-black-outline display-4" th:href="@{/SignUp}">Sign Up</a></div>


<section class="engine"><a th:href="@{https://mobirise.info/l}">free site templates</a></section><section class="features13 cid-riayfX8IVL" id="features13-1w">








    <div class="container" >

        <h2 class="mbr-section-title pb-3 mbr-fonts-style align-center display-2"><br><br>Welcome to Addis Event<br>Find your Next Event<br><br></h2>

        <div class="media-container-row">
            <div class="card col-12 col-md-6 align-center col-lg-4">
                <div class="card-wrap">
                    <div class="card-img">
                        <img th:src="@{assets/images/background1.jpg}">
                    </div>
                    <div class="card-box p-5">
                        <h4 style="color:#000;" class="card-title py-2 mbr-fonts-style align-center mbr-white display-5">
                            Request</h4>
                        <p style="color:#000;" class="mbr-text mbr-fonts-style mbr-white display-7">
                            Users Can Request for an event.<br>if the admin approves it will be posted.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 align-center col-lg-4">
                <div class="card-wrap">
                    <div class="card-img">
                        <img th:src="@{assets/images/background2.jpg}">
                    </div>
                    <div class="card-box p-5">
                        <h4 style="color:#000;" class="card-title py-2 mbr-fonts-style align-center mbr-white display-5">
                            Post</h4>
                        <p  style="color:#000;" class="mbr-text mbr-fonts-style mbr-white display-7">
                            This is the responsibility of the admin. After Approving the will be posted.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 align-center col-lg-4">
                <div class="card-wrap">
                    <div class="card-img">
                        <img th:src="@{assets/images/background4.jpg}">
                    </div>
                    <div class="card-box p-5">
                        <h4 style="color:#000;" class="card-title py-2 mbr-fonts-style align-center mbr-white display-5">
                            Approve</h4>
                        <p style="color:#000;" class="mbr-text mbr-fonts-style mbr-white display-7">
                            Event requests from event organizers will be collected and the admin approves it.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cid-rianLaltYC" id="social-buttons3-1g">





    <div class="container">
        <div class="media-container-row">
            <div class="col-md-8 align-center">
                <h2 class="pb-3 mbr-section-title mbr-fonts-style display-2">Contact us&nbsp;</h2>
                <div>
                    <div class="mbr-social-likes">
                        <span class="btn btn-social socicon-bg-facebook facebook mx-2" title="Share link on Facebook">
                            <i class="socicon socicon-facebook"></i>
                        </span>
                        <span class="btn btn-social twitter socicon-bg-twitter mx-2" title="Share link on Twitter">
                            <i class="socicon socicon-twitter"></i>
                        </span>
                        <span class="btn btn-social plusone socicon-bg-googleplus mx-2" title="Share link on Google+">
                            <i class="socicon socicon-googleplus"></i>
                        </span>
                        <span class="btn btn-social vkontakte socicon-bg-vkontakte mx-2" title="Share link on VKontakte">
                            <i class="socicon socicon-vkontakte"></i>
                        </span>
                        <span class="btn btn-social odnoklassniki socicon-bg-odnoklassniki mx-2" title="Share link on Odnoklassniki">
                            <i class="socicon socicon-odnoklassniki"></i>
                        </span>
                        <span class="btn btn-social pinterest socicon-bg-pinterest mx-2" title="Share link on Pinterest">
                            <i class="socicon socicon-pinterest"></i>
                        </span>
                        <span class="btn btn-social mailru socicon-bg-mail mx-2" title="Share link on Mailru">
                            <i class="socicon socicon-mail"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script th:src="@{assets/web/assets/jquery/jquery.min.js}"></script>
<script th:src="@{assets/tether/tether.min.js}"></script>
<script th:src="@{assets/popper/popper.min.js}"></script>
<script th:src="@{assets/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/touchswipe/jquery.touch-swipe.min.js}"></script>
<script th:src="@{assets/dropdown/js/script.min.js}"></script>
<script th:src="@{assets/smoothscroll/smooth-scroll.js}"></script>
<script th:src="@{assets/sociallikes/social-likes.js}"></script>
<script th:src="@{assets/viewportchecker/jquery.viewportchecker.js}"></script>
<script th:src="@{assets/theme/js/script.js}"></script>


  <input name="animation" type="hidden">
   <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up")></i></a></div>
  </body>
</html>
