<!DOCTYPE HTML>
<html>
<head>
<title> Home </title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
 <link href="../css/css/bootstrap.min.css" rel="stylesheet">
<link href="css/adminCss.css" rel="stylesheet" type="text/css"/>
<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
<link href="css/calendar-eightysix-default.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/calendar-eightysix-osx-dashboard.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/calendar-eightysix-vista.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/mootools-1.2.4-core.js"></script>
<script type="text/javascript" src="js/mootools-1.2.4.2-more.js"></script>
<script type="text/javascript" src="js/calendar-eightysix-v1.0.1.js"></script>
<script type="text/javascript">
		window.addEvent('domready', function() {
			new CalendarEightysix('exampleI', 	 { 'offsetY': -4 });
			new CalendarEightysix('exampleII', 	 { 'startMonday': true, 'format': '%m.%d.%Y', 'slideTransition': Fx.Transitions.Back.easeOut, 'draggable': true, 'offsetY': -4 });
	});	
</script>
<style>
.clearfix{margin-top:10px;}
#btn{margin-top:12px;}
.w{margin-top:-5px;}
</style>
</head>
<body>
  <div class="header-top">
	<div style="padding:30px;" class="wrap">
        <div class="logo">
			<a  href="index.html"><img style="margin-top:-45px;" th:src="@{images/addis_event_logo.png}" /></a>
		</div>
		<div  class="cssmenu">
		  <nav  id="nav" role="navigation">
	
			<ul class="clearfix" >
			
				
			
				<p style="margin-top:-10px; padding-left:130px; " class="active"><a style=" color:#fff;" th:href="@{/Request}">Make Request</a></p>
				<p class = "active" style="margin-top:-18px; padding-left:300px; "><a class="active" style="color:#fff; " th:href="@{/SecondHome}"><span>BrowseEvents</span></a></p>
				
				<form th:action="@{/AdminApprove}">
				<input type="submit" value="Approve Events" style="margin-top:30px; height:30px; margin-left:200px; background-color:#200; color:#fff; border-radius:8px;"  sec:authorize="hasAuthority('EventAdmin')"/>
				
				
					
				
				</ul>
				<div style="margin-left:100px; margin-top:200px; font-size:50px; ">
				<p class="w" sec:authorize="hasAuthority('EventUser')" style="color:#000000; font-style:italic; font-family:serif; font-weight:bold;">Welcome User!</p>
					<p class="w" sec:authorize="hasAuthority('EventOrganizer')" style="color:#000000; font-style:italic; font-family:serif; font-weight:bold;">Welcome Event Organizer!</p>
				<p class="w" sec:authorize="hasAuthority('EventAdmin')" style="color:#000000; font-style:italic; margin-top:-50px; font-family:serif; font-weight:bold;">Welcome Admin!</p>
				
					</div>	
		    </nav>
		  </div>
			
			<form style="margin-left:1500px; margin-top:-20px;" method="POST" th:action="@{/logout}">
    			<input style="margin-left:900px;" type="submit" id="btn" value="Logout"/>
				<div class="clear"></div>
		   </div>
	     
    </div>
    <image style="opacity:0.6;" th:src="@{images/2.png}"/>
	

    </body>
	</html>