<!DOCTYPE HTML>
<html>
<head>
<title>SignUp Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link th:href="@{css/style.css}" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
</head>
<body>
 <div class="header-top">
	<div class="wrap">
        <div class="logo">
			<a href="index.html"><img th:src="@{images/addis_event_logo.png}" alt=""/></a>
		</div>
		<div class="cssmenu">
		  <nav id="nav" role="navigation">
			<a href="#nav" title="Show navigation">Show navigation</a>
			<a href="#" title="Hide navigation">Hide navigation</a>

		    </nav>
		  </div>
		  

				<div class="clear"></div>
		   </div>
		   <form style="margin-left:20px; margin-top:-30px;" method="POST" th:action="@{/login}">
    			<input style="margin-left:900px;" type="submit" id="btn" value="Login"/>
				<div class="clear"></div>
		   </div>
		   
	     <div class="clear"></div>

     </div>
    </div>
  <div class="main">
     <div class="wrap">
      	 <div class="section group">
				<div class="cont span_2_of_blog">
				  <div class="login-title">
           		<h4 style="margin-left:300px;" class="title">SignUp Form</h4>
				<div id="loginbox" class="loginbox">

          <form style="margin:50px;"  method="post" th:action="@{/SignUpPost}" th:object="${theuser}">
					  <input type="hidden" name="payload" value="CSRF Attack!">
					  <fieldset class="input">
						
					    
					     
					      <p style="margin-left:200px;" id="signup-form-username">
					      <label for="modsn_username">Username</label>
					      <input id="modsn_username" type="text" name="username" class="inputbox" size="18" autocomplete="off">
					    </p>
					    
							
					    <p style="margin-left:200px; padding-top:20px;" id="login-form-password">
					      <label for="modlgn_passwd">Password</label>
					      <input id="modlgn_passwd" type="password" name="password" class="inputbox" size="18" autocomplete="off">
					    </p>

              


              <p id="login-form-password1" style="margin-top:30px; margin-left:200px;">
                <label for="dis">SignUp As:</label>
                <label style="margin-left:30px;" for="description">EventOrganizer</label>
                <input style="margin-right:20px;" type="radio" value="EventOrganizer" name = "therole">
                <label style="margin-left:115px;" for="dis2">EventUser</label>
                <input type="radio" value="EventUser" name="therole"> 
              </p>



					    <!-- <p id="types">
                <label for="type">Select the event type:</label>
                <label for="  specific_type">MUSIC</label>
					      <input id="typpes" type="checkbox" name="remember" class="checkbox" value="yes" autocomplete="off">
					    </p> -->
					    <input style="margin-left:50%; border-radius:10px; margin-top:20px;" type="submit" name="Submit" class="button" value="SignUp">
					  </fieldset>
					 </form>

      	</div>
			</div>
			</div>

	     </div>
	   </div>
	   <div class="clear"></div>
	  </div>
   </div>
   <div class="footer" style="margin-bottom=0px;">
      <div class="wrap">
     	  <div class="footer-menu">

     	  </div>


		    <div class="clear"></div>
     	  </div>
       </div>
   </div>
</body>
</html>
