
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>AddisEvent</title>

 
<link rel="stylesheet" th:href="@{/css/style.css}"/>


</head>
<body>
  <div class="header-top">
	<div class="wrap">
        <div class="logo">
			<a href="index.html"><img src="images/addis_event_logo.png" alt=""/></a>
		</div>
		<div class="cssmenu">
		  <nav id="nav" role="navigation">
			<a href="#nav" title="Show navigation">Show navigation</a>
			<a href="#" title="Hide navigation">Hide navigation</a>
			<ul class="clearfix">
				<li class="active"><a href="index.html">Home</a></li>
				<li><a href="start.html"><span>Get started</span></a></li>
				<li><a href="work.html"><span>Browse Events</span></a></li>
				<li><a href="pricing.html">Pricing</a></li>
				<li><a href="support.html">Support</a></li>
				<div class="clear"></div>
			</ul>
		    </nav>
		  </div>
			
				<div class="clear"></div>
		   </div>
	     <div class="clear"></div>
		<h2 class="head">Find the <span class="m_1">next event </span>You'll want <span class="m_1">to attend</span></h2>
     </div>
    </div>
  <body>
    
    <a th:href="@{/login}">Login</a>
    <a th:href="@{/SignUp}">SignUp</a>
    <img th:src="@{images/2.png}"/>
    <div class="footer">
     	<div class="wrap">
     	  <div class="footer-menu">
     		<ul>
				<li class="active"><a href="index.html">Home</a></li> 
				<li><a href="about.html">Get started</a></li> 
				<li><a href="work.html">Browse Events</a></li> 
				<li><a href="features.html">Pricing</a></li>
				<li><a href="features.html">Privacy policy</a></li>
				<li><a href="work.html">Terms of service</a></li>
				<div class="clear"></div>
			</ul>
     	  </div>
     	  <div class="footer-bottom">
     	  	<div class="copy">
			   </div>
		  
		    <div class="clear"></div>
     	  </div>
       </div>
     </div>
  </body>
</html>