<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Addis Event</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  </head>

  <body>
  <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <h1>Find The Next Event You Want To Attend!</h1>
  </a>
</nav>

  <div class="container">
  
     
      <div class="row">
    <div class="col">
      <h3>Music Events:</h3>
      
      <div th:each="RequestForm : ${music}" >
      <p>EventName	EventPlace	EventDate</p>
      
      <span  th:text="${RequestForm.eventname}+' '+${RequestForm.eventplace}+' '+${RequestForm.eventdate}" >Event</span>
      </div>
     </div>
     <div class="col">
      <h3>Art Events:</h3>
      <div th:each="request_form : ${art}">
      
      
        <span th:text="${request_form.eventname}+' '+${request_form.eventplace}+' '+${request_form.eventdate}">Event</span><br/>
      </div>
      </div>
      </div>
      <div class="row">
      <div class="col">
      <h3>Festival Events:</h3>
      <div th:each="request_form : ${festival}">
       <span th:text="${request_form.eventname}+' '+${request_form.eventplace}+' '+${request_form.eventdate}">Event</span><br/>
      </div>
      </div>
      <div class="col">
      <h3>Sport Events:</h3>
      <div th:each="request_form : ${sport}">
        <span th:text="${request_form.eventname}+' '+${request_form.eventplace}+' '+${request_form.eventdate}">Event</span><br/>
      </div>
      </div>
      </div>
        
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:href="@{/js/jquery-3.3.1.slim.min.js}" src="../js/jquery-3.3.1.slim.min.js"></script>
    <script th:href="@{/js/popper.min.js}" src="../js/popper.min.js"></script>
    <script th:href="@{/js/bootstrap.min.js}" src="../js/bootstrap.min.js"></script>
    <script th:href="@{/js/holder.min.js}" src="../js/holder.min.js"></script>
  </body>
</html>
