<!DOCTYPE HTML>
<html>
<head>
<title> Home </title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
 <link href="../css/css/bootstrap.min.css" rel="stylesheet">
<link href="css/adminCss.css" rel="stylesheet" type="text/css"/>
<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
<link href="css/calendar-eightysix-default.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/calendar-eightysix-osx-dashboard.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/calendar-eightysix-vista.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/mootools-1.2.4-core.js"></script>
<script type="text/javascript" src="js/mootools-1.2.4.2-more.js"></script>
<script type="text/javascript" src="js/calendar-eightysix-v1.0.1.js"></script>
<script type="text/javascript">
		window.addEvent('domready', function() {
			new CalendarEightysix('exampleI', 	 { 'offsetY': -4 });
			new CalendarEightysix('exampleII', 	 { 'startMonday': true, 'format': '%m.%d.%Y', 'slideTransition': Fx.Transitions.Back.easeOut, 'draggable': true, 'offsetY': -4 });
	});	
</script>
<style>
.clearfix{margin-top:10px;}
#btn{margin-top:12px;}
.w{margin-top:-5px;}
</style>
</head>
<body>
  <div class="header-top">
	<div class="wrap">
        <div class="logo">
			<a href="index.html"><img th:src="@{images/addis_event_logo.png}" /></a>
		</div>
		<div class="cssmenu">
		  <nav id="nav" role="navigation">
	
			<ul class="clearfix" >
				<li class="active"><a th:href="@{/Request}">Make Request</a></li>
				<li><a th:href="@{/SecondHome}"><span>BrowseEvents</span></a></li>
				<li class="w" sec:authorize="hasAuthority('EventUser')" style="color:red">Welcome User!</li>
				<li class="w" sec:authorize="hasAuthority('EventOrganizer')" style="color:red">Welcome Event Organizer!</li>
				<li class="w" sec:authorize="hasAuthority('EventAdmin')" style="color:red">Welcome Admin!</li>
				<a th:href="@{/AdminApprove}" sec:authorize="hasAuthority('EventAdmin')">Approve Events</a>
				
				<form method="POST" th:action="@{/logout}">
    			<input type="submit" id="btn" value="Logout"/>
				<div class="clear"></div>
			</ul>
		    </nav>
		  </div>

		   </div>
	     
    </div>
    <image th:src="@{images/2.png}"/>
	

    </body>
	</html>