<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Addis Event</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    
    
  </head>

  <body bgcolor="#E6E6FA">
  <div class="header-top">
	<div class="wrap">
        <div class="logo">
			<a href="index.html"><img src="images/addis_event_logo.png" alt=""/></a>
		</div>
		<div class="cssmenu">
		  <nav id="nav" role="navigation">
			<a href="#nav" title="Show navigation">Show navigation</a>
			<a href="#" title="Hide navigation">Hide navigation</a>
			<ul class="clearfix">
				<li class="active"><a href="index.html">Home</a></li>
				<li><a href="start.html"><span>Get started</span></a></li>
				<li><a href="work.html"><span>Browse Events</span></a></li>
				<li><a href="pricing.html">Pricing</a></li>
				<li><a href="support.html">Support</a></li>
				<div class="clear"></div>
			</ul>
		    </nav>
		  </div>
			
				<div class="clear"></div>
		   </div>
	     <div class="clear"></div>
		<h2 class="head">Find the <span class="m_1">next event </span>You'll want <span class="m_1">to attend</span></h2>
     </div>
    </div>
  <nav class="navbar navbar-light bg-light">
  
</nav>

  <div>
  
  </div>

<div class="container">
 <form method="post" th:action="@{/approvingg}">
     
      <div class="row">
    <div class="col">
      <h3>Music Events:</h3>
      
      <div th:each="RequestForm : ${music}" >
      
      
      <span  th:text="${RequestForm.eventname}+'--------'+${RequestForm.eventplace}+'--------'+${RequestForm.eventdate}" >Event</span>
      </div>
     </div>
     <div class="col">
      <h3>Art Events:</h3>
      <div th:each="request_form : ${art}">
      
      
        <span th:text="${request_form.eventname}+'--------'+${request_form.eventplace}+'--------'+${request_form.eventdate}">Event</span><br/>
      </div>
      </div>
      </div>
      <div class="row">
      <div class="col">
      <h3>Festival Events:</h3>
      <div th:each="request_form : ${festival}">
       <span th:text="${request_form.eventname}+'--------'+${request_form.eventplace}+'--------'+${request_form.eventdate}">Event</span><br/>
      </div>
      </div>
      <div class="col">
      <h3>Sport Events:</h3>
      <div th:each="request_form : ${sport}">
        <span th:text="${request_form.eventname}+'--------'+${request_form.eventplace}+'--------'+${request_form.eventdate}">Event</span><br/>
      </div>
      </div>
      </div>
     
</div>
</body>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:href="@{/js/jquery-3.3.1.slim.min.js}" src="../js/jquery-3.3.1.slim.min.js"></script>
    <script th:href="@{/js/popper.min.js}" src="../js/popper.min.js"></script>
    <script th:href="@{/js/bootstrap.min.js}" src="../js/bootstrap.min.js"></script>
    <script th:href="@{/js/holder.min.js}" src="../js/holder.min.js"></script>
  </body>
</html>
